*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #2b2a33;
    color: #ff7e1c;
    height: 100px;
}

header h1{
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}

main{
    height: calc(100vh - 100px);
    background-color: #42414d;
    padding: 1.5rem 4rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: lightgray;
}

main div{
    width: fit-content;
    margin: 4rem auto;
}

main i{
    font-size: 24rem;
}